body{
  background-color: floralwhite;
  display: flex;
}

.App{
  width: 100%;
  max-width: 631px;
  margin: 0 auto;
  text-align: center;
 
}
.title{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: black;
  margin-bottom: 70px;
  text-align: center;
  margin: 20px auto;
}

.titleBlock{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.todo-item{
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
}

.input-wrapper{
  padding-top: 17px;
}
#root{
 width: 80%;
 margin: 60px auto;
}
input{
  width:100%;
  resize: vertical;
  padding:10px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}
